
<script>

import MakePath from "./_design_1_PathLines.svelte";
import { extent } from "d3-array";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = [];
  export let scale_chosen = undefined;

  $: global = extent(data.map((d) => d.total_heating_energy));

  let u = new Set()
  data.forEach(item => u.add(item.buildingtype))
  const uniques = Array.from(u)

  </script>


<svg {width} {height}>
    <g>
    
      {#if scale_chosen=="across all building types"}
      {#each uniques as bt, idx}
      <MakePath data={data.filter(d => d.buildingtype == bt)} len={uniques.length} shifty={idx*innerHeight/uniques.length} scaley={global}/>
      {/each}
      {/if}
    
      {#if scale_chosen=="within building types"}
      {#each uniques as bt, idx}
      <MakePath data={data.filter(d => d.buildingtype == bt)} len={uniques.length} shifty={idx*innerHeight/uniques.length} scaley={extent(data.filter(d => d.buildingtype == bt).map((d) => d.total_heating_energy))}/>
      {/each}
      {/if}
    
    
 </g>
  </svg>
  
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>