<script>

import { extent } from 'd3-array';
import { scaleLinear } from 'd3-scale';
import { lineRadial } from 'd3-shape';
  
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let yshift = {};
  export let xshift = {};
  export let circle_radius = undefined;
  export let _class = undefined;

  const scaleX=scaleLinear().domain(extent(data, x)).range([0, Math.PI*2]);
  const scaleY= scaleLinear().domain(extent(data, y)).range([0,circle_radius]);
  const scalerad =lineRadial().angle((d) => scaleX(x(d))).radius((d) => scaleY(y(d)))

</script>

    <g transform="translate({margin.left+xshift}, {margin.top+yshift})">
        <path d={scalerad(data)} class={_class}/>
    </g>
  
  <style>
      .heat {
          fill: red;
          fill-opacity: 0.3;
          stroke: red;
          stroke-width: 0.3;
          stroke-opacity: 0.8;
      }
      .cool {
          fill: blue;
          fill-opacity: 0.3;
          stroke: blue;
          stroke-width: 0.3;
          stroke-opacity: 0.8;

      }
  </style>