
<script>

    import { scaleLinear } from "d3-scale";
    import { extent } from "d3-array";

    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;


    export let data = [];
    export let len = {};
    export let shifty = {};
    export let scaley = [];
    
    const scaleX = scaleLinear().domain([0,743]).range([0,innerWidth])
    $: scaleY = scaleLinear().domain(scaley).range([innerHeight/len-3,0])

    $: pathGenerator = (d) => {
      let path = "M " + scaleX(0) + "," + scaleY(scaley[0]);
    d.forEach((d, idx) => {
        path += " " + scaleX(idx) + "," + scaleY(d.total_heating_energy);
    });
    return path;
}

</script>


    <g transform="translate({margin.left}, {margin.top+shifty})">
      <path d={pathGenerator(data)}/>
    </g>