<script>
import Path from "./_design_3_PathTree.svelte"

  // Properties
  export let data = [];

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const weeks = [
    {w: 48, y: innerHeight*0.72, x: innerWidth/2, rot: -25, move_x: -3},
    {w: 49, y: innerHeight*0.52, x: innerWidth/2-innerWidth/4, rot: 25, move_x: 12},
    {w: 50, y: innerHeight*0.48, x: innerWidth/2, rot: -25, move_x: -4},
    {w: 51, y: innerHeight*0.28, x: innerWidth/2-innerWidth/4, rot: 25, move_x: 12},
    {w: 52, y: innerHeight*0.24, x: innerWidth/2, rot: -25, move_x: -7}
  ];


  // Configurations
  const s1 = {
    x: (d) => +d._key,
    y: (d) => +d.total_electrity,
  };
  const s2 = {
    x: (d) => +d._key,
    y: (d) => +d.total_gas,
  };

</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x={innerWidth/2} y={innerHeight *0.2} width=1 height={innerHeight * 0.6} />
    {#each weeks as we}
    <Path data={data.filter(d => d.week == we.w)} {...s1} range_y={[innerHeight/20, 0]} shiftx={we.x} shifty={we.y-innerHeight/30} rot={we.rot} move_x={we.move_x} _class="electricity"/>
    <Path data={data.filter(d => d.week == we.w)} {...s2} range_y={[0, innerHeight/20]} shiftx={we.x} shifty={we.y+11} rot={we.rot} move_x={we.move_x} _class="gas"/>
    {/each}
    <text x={innerWidth/5*2.12} y={innerHeight*0.9} font-size="large">Chicago</text>
    <text x={innerWidth/5*1.9} y={innerHeight*0.93} font-size="small">(December 2014)</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>