
<script>

  import SetScales from "./_design_1_Scales.svelte"
  
  export let data  = [];
  export let city = undefined;
  export let scale_chosen = undefined;

  $: datafilt = data.filter(data => data.city == city);

</script>

  
{#if !datafilt}
<p>Loading the data, please wait...</p>
{:else}
    <SetScales data={datafilt} scale_chosen={scale_chosen}/> 
    
{/if}
