<script>
import { scaleLinear } from "d3-scale";
import { extent } from "d3-array";


  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let range_y = [];
  export let shiftx = {};
  export let shifty = {};
  export let rot = {};
  export let move_x = {};
  export let _class = undefined;

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const scaleX = scaleLinear().domain(extent(data,x)).range([0,innerWidth/4]);
  const scaleY = scaleLinear().domain(extent(data,y)).range(range_y); // is this the correct order???

  // Path
  $: pathGenerator = (d) => {
    let path = "M " + scaleX(extent(data, x)[0]) + "," + scaleY(extent(data, y)[0]);
    d.forEach((d) => {
        path += " " + scaleX(x(d)) + "," + scaleY(y(d));
    });
    return path;
}


</script>

  <g transform="translate({shiftx+move_x}, {shifty}) rotate({rot})" class={_class}>
    <path d={pathGenerator(data)}/>
  </g>


<style>

  .electricity {
    fill: blue;
    opacity: 0.7;
  }
  .gas {
    fill: orange;
    opacity: 0.7;
  }

</style>