
<script>
 
    import PlotPath from "./_design_2_PathClock.svelte"
  
    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    const circle_radius = 65;
    const space_coord = 5;
    const yshift = innerHeight/2;

    export let data  = [];

  const city = [
    {name: "Chicago", x: innerWidth*0.2},
    {name: "Baltimore", x: innerWidth*0.5},
    {name: "Los Angeles", x: innerWidth*0.8}
  ];

   // Configurations
   const s1 = {
    x: (d) => +d.day_of_year,
    y: (d) => +d.heating,
  };
  const s2 = {
    x: (d) => +d.day_of_year,
    y: (d) => +d.cooling,
  };

</script>

<svg {width} {height}>
    <g>
        {#each city as c}
        <PlotPath data={data.filter(d => d.city == c.name)} {...s2} xshift = {c.x} yshift = {yshift} circle_radius={circle_radius} _class="cool"/>
        <PlotPath data={data.filter(d => d.city == c.name)} {...s1} xshift = {c.x} yshift = {yshift} circle_radius={circle_radius} _class="heat"/>
         {/each}
    </g>
    <g transform="translate({margin.left}, {margin.top})">
      {#each city as c}
        <circle cx={c.x} cy={yshift} r={circle_radius} />
        <rect x={c.x-circle_radius} y={yshift} width={2 * circle_radius} height=1 />
        <rect x={c.x} y={yshift-circle_radius} width=1 height={2 * circle_radius} />
        <text x={c.x} y={yshift-circle_radius-space_coord}>0</text>
        <text x={c.x} y={yshift+circle_radius+space_coord+12}>6</text>
        <text x={c.x+circle_radius+space_coord+2} y={yshift+6}>3</text>
        <text x={c.x-circle_radius-space_coord-2} y={yshift+6}>9</text>
        <text x={c.x} y={yshift-circle_radius-30}>{c.name}</text>
      {/each}
    </g>  
  </svg>
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  
    circle {
      fill: transparent;
      stroke: black;
    }
    
    text {
      text-anchor: middle;
      font-size: medium;
    }
  </style>