<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Clock from "./_design_2_Clock.svelte"

  // Load the data. On the clock we put the days of the year, on axis months. The total heating and cooling should probably be rescaled rel to max.. so transformed data
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json")
  });
  $: console.log(data)

</script>

{#if !data}
<p>Loading the data, please wait...</p>
{:else}
<Clock {data}/> 
{/if}


