<script>

  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import RadioButtons from "./_design_1_Buttons.svelte"

  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });
  $: console.log(data);

  let cities = [
    'Baltimore',
    'Chicago',
    'Los Angeles'
  ]

  let city = "Baltimore";

  let scale_chosen = "across all building types"
  let scales = [
    'across all building types',
    'within building types',
  ]

$: console.log(city)

</script>

<div class="form-group">
  <div>
  <label for="cit">Location: </label>
  {#each cities as _city}
  <input type=radio bind:group={city} id="cit" name="locations" value={_city}>
  {_city}
  {/each}
</div>
<div>
  <label for="scales">Scaling: </label>
  {#each scales as scale}
  <input type=radio bind:group={scale_chosen} id="scales" name="scales_chosen" value={scale}>
  {scale}
  {/each}
</div>
  {#if !data}
  <p>Loading the data, please wait...</p>
  {:else}
      <RadioButtons {data} city={city} scale_chosen={scale_chosen}/>
{/if}
</div>



