<script>

  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Filter from "./_design_3_Filter.svelte"

  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  $: console.log(data);


</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Filter {data} />
{/if}




