<script>
  $: clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  {#if clicked}
    <div>
      <p>You have clicked the button!</p>
    </div>
  {:else}
    <div>
      <p>You have to click the button!</p>
    </div>
{/if}
</div>
