<div>
  <style>
    header {
      font-size: 6em;
    }
    header2 {
      font-size: 5em;
    }
    header3 {
      font-size: 4em;
    }
    header4 {
      font-size: 3em;
    }
    header5 {
      font-size: 2em;
    }
    header6 {
      font-size: 1em;
    }
  </style>
<div><header>Section 1</header></div>
<div><header2>Section 2</header2></div>
<div><header3>Section 3</header3></div>
<div><header4>Section 4</header4></div>
<div><header5>Section 5</header5></div>
<div><header6>Section 6</header6></div> 
</div>
