<script>
    import Child from './_ex_10_child.svelte'
    let trueanswer = 42
</script>

<div>
    <div>
        <p>What is the answer to life, universe and everything?</p>
    </div>
    <div>
        <Child answer={trueanswer}/>
    </div>
</div>