<div>
  <style>
    p {font-style: italic}
    li {font-style: italic}
  </style>
  <p>The best visual channels ordered by Mackinlay's ranking:</p>
  <ol>
    <li>Position</li>
    <li>Length</li>
    <li>Angle</li>
</ol>
</div>



