<script>
    const student = { name: 'Zane'};
    console.log(student.name);
    const myList = ['sushi', 'rats', 'travel'];
    console.log(myList);

</script>

<p>My name is {student.name} and these are some of my favourite things: {myList}.</p>