<script>

 function circumference(radius){
     return radius * 2 * 3.14;
 }
 const rad = 2
 console.log(rad);
 const circ = circumference(rad);

</script>

<p>The circumference of a circle with radius {rad}m is {circ}m .</p>