<script>

  // Properties
  let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  const Year = [0]
  let value = 1800
  let Filt_value = 1800
  let clear = ()=> Filt_value = 1800
  let selectedCont = "europe"
  let stop = false


</script>

<div>
  <input type="range" min="1800" max="2014" bind:value={Filt_value}/>
</div>

<div>
  <button class="btn btn-secondary btn-sm" on:click={() => (stop = true)}>
    Play/Pause
  </button>
  <button class="btn btn-secondary btn-sm" on:click={clear}>
    Reset
</button>
</div>

<!-- svelte-ignore a11y-no-onchange -->
<section class="menu-cont">
	<select class="menu" 
					name="menu" 
					id="menu" 
					bind:value={selectedCont}>
		<option disabled selected value="">Select a contintent.</option>
		{#each continents as cont}
			<option value={cont}>{cont}</option>
		{/each}
	</select>
</section>
