<script>
    let clicks = 0
</script>


<div>
    <button class="btn btn-primary" on:click={() => (clicks = clicks + 1)}>
        {clicks}
    </button>

    <button class="btn btn-secondary" on:click={() => (clicks = 0)}>
        Reset
    </button>

</div>



