<script>

  import {onMount} from 'svelte';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays


  const points = [
    {x: innerWidth / 2 - 60, opac: 0.3},
    {x: innerWidth / 2 - 30, opac: 0.3},
    {x: innerWidth / 2, opac: 0.3},
    {x: innerWidth / 2 + 30, opac: 0.3},
    {x: innerWidth / 2 + 60, opac: 0.3}
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  var color = "darkred";

  function updateOp(x){
 points[x].opac = 1;
}
  
 
// function creation
let interval;
onMount(async() => {
  setTimeout(() => {
 interval = setInterval(() => {

  index = index - 1

    // when count equals to 0, stop the function
    if(index === 0){
      setTimeout(() => {
        clearInterval(interval);
        color = "darkgreen"
    }, 1000);
  };
    //could maybe put in here updating of na opacity array with constants
    updateOp(index)

}, 1000);
  }, 2000);
});

$: index
$: points
$: color

</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as p}
        <circle cx={p.x} cy={innerHeight} r=13 style="fill: {color}; opacity: {p.opac}"/>
    {/each}
  </g>
</svg>
