<script>

  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import { scaleLog } from 'd3-scale';
  const scale = scaleLog().base(2).domain([1,10]).range([margin.left,margin.left+innerWidth]);

  const xAxis = (node) =>
    axisBottom(scale).tickValues([1,4, 7,10])(
      select(node)
    );

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <circle cx={scale(v)} cy={innerHeight / 2-15} r=10 />
    {/each}
  </g>

  <g use:xAxis transform="translate(0, {innerHeight-30})">
    <text class="axis-label" x={innerWidth / 2} y={margin.bottom +30}>
      x-axis
    </text>
  </g>
</svg>


<style>
  .axis-label {
    font-size: 1.75em;
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
</style>