<script>


  import { select } from 'd3-selection';
	import { axisBottom, axisLeft } from 'd3-axis';
  import { scaleLinear, scaleBand} from 'd3-scale';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Scaling
  const yScale = scaleLinear().domain([0, 2.9]).range([innerHeight - margin.bottom, margin.top]);
  const xScale = scaleBand().domain(data.map((d) => d["service"])).range([0, innerWidth]);

  // Axes
  const xAxis = (node) => axisBottom(xScale).tickSizeOuter(0)(select(node));
  const yAxis = (node) => axisLeft(yScale).tickSizeOuter(0)(select(node));



</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    <text transform={`translate(${-30},${innerHeight / 2+20}) rotate(-90)`}
    >Viewers</text>
    {#each data as d}
      <rect
        y={yScale(d.viewers)}
        x={xScale(d.service)}
        width={xScale.bandwidth()}
        height={innerHeight - margin.bottom - yScale(d.viewers)}
        />
    {/each}
  </g>
  <g use:xAxis transform="translate({margin.left},{innerHeight-10})"></g>
  <g use:yAxis transform="translate({margin.left},{margin.top})"></g>
</svg>


<style>
  rect {
    fill: #13293d;
  }
</style>